In [65]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [1]:
# read file and turn letters in lower cases
Eng = open("Alice_eng.txt")
eng = Eng.read().lower()

Ger = open("Alice_ger.txt")
ger = Ger.read().lower()

Ita = open("Alice_ita.txt")
ita = Ita.read().lower()

Fin = open("Alice_fin.txt")
fin = Fin.read().lower()

Esp = open("Alice_esp.txt")
esp = Esp.read().lower()

In [2]:
# define counting function
def count_letters(file):
    dictionary = {}
    for letter in "abcdefghijklmnopqrstuvwxyz":
        dictionary[letter] = 0
    for letter in file:
        if letter in "abcdefghijklmnopqrstuvwxyz":
            dictionary[letter] = dictionary[letter]+1
    return dictionary

In [4]:
dic_eng = count_letters(eng)
dic_ger = count_letters(ger)
dic_ita = count_letters(ita)
dic_fin = count_letters(fin)
dic_esp = count_letters(esp)

In [51]:
eng_df = pd.DataFrame.from_dict(dic_eng, orient='index', columns=['ENG'])
eng_df = pd.DataFrame.from_dict(dic_eng, orient='index', columns=['ENG'])
ger_df = pd.DataFrame.from_dict(dic_ger, orient='index', columns=['GER'])
ita_df = pd.DataFrame.from_dict(dic_ita, orient='index', columns=['ITA'])
fin_df = pd.DataFrame.from_dict(dic_fin, orient='index', columns=['FIN'])
esp_df = pd.DataFrame.from_dict(dic_esp, orient='index', columns=['ESP'])

In [54]:
count_def = pd.concat([eng_df, ger_df, ita_df, fin_df, esp_df],axis=1)

In [55]:
count_def

    ENG    GER    ITA    FIN    ESP
a  4410   8725  13833  14086  14560
b   804   2196   1402    279   1222
c  1535   5390   6511    604   1659
d  2365   6473   4326   1112   4130
e  6858  21755  15253  10236  12226
f  1153   2350   1550    387   1639
g  1352   4077   2612    587   1765
h  3214   7666   2026   3335    897
i  3922  11725  12185  15412  14243
j   143    292    123   1909   3000
k   551   1876    134   7067   4897
l  2311   5040   7550   7188   7809
m  1143   3244   3169   3535   3980
n  3643  12722   8789  12114  10094
o  4358   3729  11700   6600  10784
p   989   1190   3718   2632   3669
q    96     36    663     11     11
r  3244   8765   8375   3419   8359
s  3216   8792   7433   9398   8260
t  5393   8357   8039  11806   7384
u  1687   5114   4110   6235   4361
v   409    798   2516   2427   2255
w  1268   2826    299    287    281
x    74     36     41     28     36
y  1043    335    330   2125    331
z    34   1503    788      2    419

In [61]:
eng_pro = eng_df/sum(dic_eng.values())
ger_pro = ger_df/sum(dic_ger.values())
ita_pro = ita_df/sum(dic_ita.values())
fin_pro = fin_df/sum(dic_fin.values())
esp_pro = esp_df/sum(dic_esp.values())

In [62]:
pro_def = pd.concat([eng_pro, ger_pro, ita_pro, fin_pro, esp_pro],axis=1)

In [63]:
pro_def

        ENG       GER       ITA       FIN       ESP
a  0.079870  0.064624  0.108515  0.114687  0.113510
b  0.014561  0.016265  0.010998  0.002272  0.009527
c  0.027800  0.039922  0.051077  0.004918  0.012934
d  0.042833  0.047944  0.033936  0.009054  0.032197
e  0.124205  0.161134  0.119655  0.083341  0.095314
f  0.020882  0.017406  0.012159  0.003151  0.012778
g  0.024486  0.030197  0.020490  0.004779  0.013760
h  0.058209  0.056780  0.015893  0.027153  0.006993
i  0.071031  0.086844  0.095587  0.125483  0.111038
j  0.002590  0.002163  0.000965  0.015543  0.023388
k  0.009979  0.013895  0.001051  0.057539  0.038177
l  0.041855  0.037330  0.059227  0.058524  0.060879
m  0.020701  0.024027  0.024860  0.028782  0.031028
n  0.065978  0.094229  0.068947  0.098631  0.078693
o  0.078928  0.027620  0.091783  0.053737  0.084072
p  0.017912  0.008814  0.029167  0.021430  0.028604
q  0.001739  0.000267  0.005201  0.000090  0.000086
r  0.058752  0.064920  0.065699  0.027837  0.065167
s  0.058245  0.065120  0.058309  0.076518  0.064395
t  0.097673  0.061898  0.063063  0.096124  0.057566
u  0.030553  0.037878  0.032242  0.050765  0.033998
v  0.007407  0.005911  0.019737  0.019760  0.017580
w  0.022965  0.020931  0.002346  0.002337  0.002191
x  0.001340  0.000267  0.000322  0.000228  0.000281
y  0.018890  0.002481  0.002589  0.017302  0.002580
z  0.000616  0.011132  0.006182  0.000016  0.003267

### (a) Compute all pairwise variational distance

In [80]:
def compute_distance(a_pro,b_pro): # let a_pro, b_pro indicate the eng_pro etc. as above pdframe.
    distance = 0.5 * sum(abs(a_pro.values - b_pro.values))
    return distance

In [81]:
eng_ger = compute_distance(eng_pro,ger_pro)
eng_ita = compute_distance(eng_pro,ita_pro)
eng_fin = compute_distance(eng_pro,fin_pro)
eng_esp = compute_distance(eng_pro,esp_pro)
ger_ita = compute_distance(ger_pro,ita_pro)
ger_fin = compute_distance(ger_pro,fin_pro)
ger_esp = compute_distance(ger_pro,esp_pro)
ita_fin = compute_distance(ita_pro,fin_pro)
ita_esp = compute_distance(ita_pro,esp_pro)
fin_esp = compute_distance(fin_pro,esp_pro)

In [83]:
distance = [eng_ger, eng_ita, eng_fin, eng_esp, ger_ita, ger_fin, ger_esp, ita_fin, ita_esp, fin_esp]

In [91]:
distance_df = pd.DataFrame(distance,columns=['distance between pairs'])
distance_df.index = ['eng_ger','eng_ita','eng_fin','eng_esp',
                     'ger_ita','ger_fin','ger_esp',
                     'ita_fin','ita_esp',
                     'fin_esp']

In [92]:
distance_df

         distance between pairs
eng_ger                0.143767
eng_ita                0.155145
eng_fin                0.261541
eng_esp                0.209377
ger_ita                0.191902
ger_fin                0.301991
ger_esp                0.237407
ita_fin                0.236528
ita_esp                0.106021
fin_esp                0.159583

### (b) Compute the five collision probabilities

In [98]:
def compute_collision(a_pro):
    collision = sum(np.power(a_pro.values,2))
    return collision

In [101]:
eng_col = compute_collision(eng_pro)
ger_col = compute_collision(ger_pro)
ita_col = compute_collision(ita_pro)
fin_col = compute_collision(fin_pro)
esp_col = compute_collision(esp_pro)

In [102]:
collision = [eng_col, ger_col, ita_col, fin_col, esp_col]

In [105]:
collision_df = pd.DataFrame(collision,columns=['collision'])
collision_df.index = ['eng_col','ger_col','ita_col','fin_col','esp_col']

In [106]:
collision_df

         collision
eng_col   0.065547
ger_col   0.072491
ita_col   0.071288
fin_col   0.076749
esp_col   0.069942

### (d) compute the variation distance for permuted_cipher.txt

In [107]:
Per = open("Alice_eng.txt")
per = Per.read().lower()

In [108]:
dic_per = count_letters(per)

In [109]:
per_df = pd.DataFrame.from_dict(dic_per, orient='index', columns=['ENG'])

In [110]:
per_df

    ENG
a  4410
b   804
c  1535
d  2365
e  6858
f  1153
g  1352
h  3214
i  3922
j   143
k   551
l  2311
m  1143
n  3643
o  4358
p   989
q    96
r  3244
s  3216
t  5393
u  1687
v   409
w  1268
x    74
y  1043
z    34

In [111]:
per_pro = per_df/sum(dic_per.values())

In [112]:
per_pro

        ENG
a  0.079870
b  0.014561
c  0.027800
d  0.042833
e  0.124205
f  0.020882
g  0.024486
h  0.058209
i  0.071031
j  0.002590
k  0.009979
l  0.041855
m  0.020701
n  0.065978
o  0.078928
p  0.017912
q  0.001739
r  0.058752
s  0.058245
t  0.097673
u  0.030553
v  0.007407
w  0.022965
x  0.001340
y  0.018890
z  0.000616

In [113]:
per_eng = compute_distance(per_pro,eng_pro)
per_ger = compute_distance(per_pro,ger_pro)
per_ita = compute_distance(per_pro,ita_pro)
per_fin = compute_distance(per_pro,fin_pro)
per_esp = compute_distance(per_pro,esp_pro)

In [116]:
distance_per = [per_eng,per_ger,per_ita,per_fin,per_esp]
distance_per_df = pd.DataFrame(distance_per,columns=['distance between permuted file and other original files'])
distance_per_df.index = ['per_eng','per_ger','per_ita','per_fin','per_esp']

In [117]:
distance_per_df

         distance between permuted file and other original files
per_eng                                           0.000000
per_ger                                           0.143767
per_ita                                           0.155145
per_fin                                           0.261541
per_esp                                           0.209377

### computer collision of permuted file

In [118]:
per_col = compute_collision(per_pro)

In [119]:
per_col

array([0.06554726])